a-scene(embedded, vr-mode-ui="enabled: false", arjs="trackingMethod: best; sourceType: webcam; detectionMode: mono_and_matrix; matrixCodeType: 3x3; debugUIEnabled: false; changeMatrixMode: cameraTransformMatrix")
  a-entity(camera)
    a-marker#marker1.game-marker(type="barcode", data-code="1", value="1", registerevents="true")
      a-image(src="./images/clues/dracula.png", width="3", height="3" rotation="-90 0 0", position="0 0 -1.5 -5", scale="2 2 2 2", transparent=true)
    a-marker#marker2.game-marker(type="barcode", data-code="2", value="2", registerevents="true")
      a-image(src="./images/clues/frank.png", width="3", height="3", rotation="-90 0 0", position="0 0 -1.5 -5", scale="2 2 2 2", transparent=true)
    a-marker#marker3.game-marker(type="barcode", data-code="3", value="3", registerevents="true")
      a-image(src="./images/clues/alice.png", width="3", height="3", rotation="-90 0 0", position="0 0 -1.5 -5", scale="2 2 2 2", transparent=true)
    a-marker#marker4.game-marker(type="barcode", data-code="4", value="4", registerevents="true")
      a-image(src="./images/clues/unicorn.png", width="2", height="2", rotation="-90 0 0", position="0 0 -1.5 -5", scale="2 2 2 2", transparent=true)
    a-marker#marker5.game-marker(type="barcode", data-code="5", value="5", registerevents="true")
      a-image(src="./images/clues/hotdog.png", width="3", height="3", rotation="-90 0 0", position="0 0 0 -5", scale="2 2 2 2", transparent=true)
    a-marker#marker6.game-marker(type="barcode", data-code="6", value="6", registerevents="true")
      a-image(src="./images/clues/alice.png", width="2", height="2", rotation="-90 0 0", position="0 0 -0.5 -5", scale="2 2 2 2", transparent=true)
    a-marker#marker7.game-marker(type="barcode", data-code="7", value="7", registerevents="true")
      a-image(src="./images/clues/dracula.png", width="3", height="3", rotation="-90 0 0", position="0 0 -1.5 -5", scale="2 2 2 2", transparent=true)
    a-marker#marker8.game-marker(type="barcode", data-code="8", value="8", registerevents="true")
      a-image(src="./images/clues/frank.png", width="2", height="2", rotation="-90 0 0", position="0 0 -1 -5", scale="2 2 2 2", transparent=true)
    a-marker#marker9.game-marker(type="barcode", data-code="9", value="9", registerevents="true")
      a-image(src="./images/clues/hotdog.png", width="2", height="2", rotation="-90 0 0", position="0 0 -0.5 -5", scale="1 1 2 1", transparent=true)
    a-marker#marker10.game-marker(type="barcode", data-code="10", value="10", registerevents="true")
      a-image(src="./images/clues/frank.png", width="3", height="3", rotation="-90 0 0", position="0 0 -1.6 -5", scale="2 2 2 2", transparent=true)
